DATABASE_URL=postgresql://postgres:YourPassword@aws-1-eu-central-1.pooler.supabase.com:5432/postgres?schema=public
DIRECT_URL=postgresql://postgres:YourPassword@aws-1-eu-central-1.pooler.supabase.com:5432/postgres?schema=public
JWT_SECRET=your-strong-jwt-secret
NODE_ENV=production
PORT=3001
CLIENT_URL=https://motoiq.vercel.app
DEEPSEEK_API_KEY=your-api-key
CLIENT_KEY=your-client-key
